body {
  background: linear-gradient(180deg, #000000 0%, #1a0000 100%);
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Creepster', cursive;
  color: #e50914;
  text-shadow: 2px 2px 5px black;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px; 
  background-color: #1c1c1e; 
  color: white;
  border: solid #e50914;
  box-shadow: 0 0 10px #000;
}

.card img {
  height: 300px; 
  object-fit: cover; 
}

.card-body {
  padding: 15px;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #e50914;
}


footer {
  margin-top: 40px;
  text-align: center;
  color: #bbb;
  font-size: 0.9rem;
}


.popup {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}


#verRespostas:checked ~ .popup {
  display: flex;
}


.popup-content {
  width: 90%;
  max-width: 400px;
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  animation: aparecer 0.3s ease-in-out;
}


.popup-content {
  width: 90%;
  max-width: 400px;
  text-align: left;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #dc3545;
}


@media (max-width: 768px) {
  .card-text {
    font-size: 0.9rem;
  }

  footer {
    font-size: 0.8rem;
  }
}

